en/parser_location.txt
en/candc_location.txt
en/easyccg_location.txt
en_parsed/
en_plain/
en_results/
fracas.xml
fracas.xml_*
candc-1.00/
easyccg/
py3/
scripts/__pycache__/
tactics_coq.txt
gold.results
system.results

### https://raw.github.com/github/gitignore/967cd6479319efde70a6fa44fa1bfa02020f2357/Coq.gitignore

.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache


